
@font-face {
    font-family:"04b 30";
    src:url("04B_30__.woff2") format("woff2"),url("04B_30__.woff") format("woff"),url("04B_30__.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        