
@font-face {
    font-family:"3D Thirteen Pixel Fonts Regular";
    src:url("3D-Thirteen-Pixel-Fonts.woff2") format("woff2"),url("3D-Thirteen-Pixel-Fonts.woff") format("woff"),url("3D-Thirteen-Pixel-Fonts.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        