
@font-face {
    font-family:"7 SEGMENTAL DIGITAL DISPLAY";
    src:url("7SDD.woff2") format("woff2"),url("7SDD.woff") format("woff"),url("7SDD.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        