
@font-face {
    font-family:"Hounds";
    src:url("Hounds-mJw5.woff2") format("woff2"),url("Hounds-mJw5.woff") format("woff"),url("Hounds-mJw5.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        