
@font-face {
    font-family:"paint Regular";
    src:url("paint.woff2") format("woff2"),url("paint.woff") format("woff"),url("paint.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        