
@font-face {
    font-family:"Conman Regular";
    src:url("ConmanRegular.woff2") format("woff2"),url("ConmanRegular.woff") format("woff"),url("ConmanRegular.otf") format("opentype");
    font-style:normal;font-weight:400;
}


@font-face {
    font-family:"Warsaw Gothic";
    src:url("WarsawGothic.woff2") format("woff2"),url("WarsawGothic.woff") format("woff"),url("WarsawGothic.otf") format("opentype");
    font-style:normal;font-weight:400;
}


@font-face {
    font-family:"Ticketing";
    src:url("Ticketing.woff2") format("woff2"),url("Ticketing.woff") format("woff"),url("Ticketing.otf") format("opentype");
    font-style:normal;font-weight:400;
}

@font-face {
    font-family:"Crash";
    src:url("CRASH___.woff2") format("woff2"),url("CRASH___.woff") format("woff"),url("CRASH___.otf") format("opentype");
    font-style:normal;font-weight:400;
}

@font-face {
    font-family:"Copyright Violations Nudged";
    src:url("CopyvlN.woff2") format("woff2"),url("CopyvlN.woff") format("woff"),url("CopyvlN.otf") format("opentype");
    font-style:normal;font-weight:400;
}

@font-face {
    font-family:"404error";
    src:url("404ERROR.woff2") format("woff2"),url("404ERROR.woff") format("woff"),url("404ERROR.otf") format("opentype");
    font-style:normal;font-weight:400;
}

@font-face {
    font-family:"Gamma Scale";
    src:url("Gamma.woff2") format("woff2"),url("Gamma.woff") format("woff"),url("Gamma.otf") format("opentype");
    font-style:normal;font-weight:400;
}

@font-face {
    font-family:"GothicPixels";
    src:url("GothicPixels.woff2") format("woff2"),url("GothicPixels.woff") format("woff"),url("GothicPixels.otf") format("opentype");
    font-style:normal;font-weight:400;
}

@font-face {
    font-family:"Speedwriter";
    src:url("Speedwriter.woff2") format("woff2"),url("Speedwriter.woff") format("woff"),url("Speedwriter.otf") format("opentype");
    font-style:normal;font-weight:400;
}

@font-face {
    font-family:"Salamander";
    src:url("Salamander.woff2") format("woff2"),url("Salamander.woff") format("woff"),url("Salamander.otf") format("opentype");
    font-style:normal;font-weight:400;
}

@font-face {
    font-family:"Ye Old Shire Outline";
    src:url("Ye Old Shire Outline.woff2") format("woff2"),url("Ye Old Shire Outline.woff") format("woff"),url("Ye Old Shire Outline.otf") format("opentype");
    font-style:normal;font-weight:400;
}
@font-face {
    font-family:"Yold Anglican";
    src:url("YOLDA___.woff2") format("woff2"),url("YOLDA___.woff") format("woff"),url("YOLDA___.otf") format("opentype");
    font-style:normal;font-weight:400;
}

@font-face {
    font-family:"Warsaw Gothic Extended Shadow Oblique";
    src:url("WarsawGothicExtShdObl.woff2") format("woff2"),url("WarsawGothicExtShdObl.woff") format("woff"),url("WarsawGothicExtShdObl.otf") format("opentype");
    font-style:normal;font-weight:400;
}