
@font-face {
    font-family:"Terminus (TTF)";
    src:url("Terminus (TTF) 500.woff2") format("woff2"),url("Terminus (TTF) 500.woff") format("woff"),url("Terminus (TTF) 500.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        