
@font-face {
    font-family:"Textur Regular";
    src:url("textur.woff2") format("woff2"),url("textur.woff") format("woff"),url("textur.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        