
@font-face {
    font-family:"Warsaw Gothic Extended Shadow";
    src:url("WarsawGothicExtShd.woff2") format("woff2"),url("WarsawGothicExtShd.woff") format("woff"),url("WarsawGothicExtShd.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        