
@font-face {
    font-family:"Warsaw Gothic";
    src:url("WarsawGothic.woff2") format("woff2"),url("WarsawGothic.woff") format("woff"),url("WarsawGothic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        