
@font-face {
    font-family:"Warsaw Gothic Extended Outline";
    src:url("WarsawGothicExtOuLn.woff2") format("woff2"),url("WarsawGothicExtOuLn.woff") format("woff"),url("WarsawGothicExtOuLn.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        