
@font-face {
    font-family:"Wedgie Regular";
    src:url("Wedgie Regular.woff2") format("woff2"),url("Wedgie Regular.woff") format("woff"),url("Wedgie Regular.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        