body {
    margin: 0; 
    height: 100%; 
background-color: black;
}
.title{
  font-family: "seven_segmentregular";
  color: white;
  position: absolute;
	top: 10px;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
}
#name{
  font-family: "GothicPixels";
  font-size: 58px;
}
#version{
  font-family: "GothicPixels";
  font-size: 22px;
}
#myScene{

}
/* body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; */
    /* background-color: black;
    
  } */
  /* .stagger-visualizer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow: 10px 10px 10px 0 rgba(0,0,0, .5);
  }
  .stagger-visualizer div {

    width: 5rem;
    height: 5rem;
    background-color: #FFF;
  }


#name.p{

    text-align: center;
    color: white;
    font-weight: bolder;
    text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgb(0, 0, 0);
} */

/* #video1{
    
}  */
/* #video2{
    padding-top:2%;
    margin-left:10%; 
} */
#video3{
margin-left: -75%;
}
#video4{
margin-left: -85%;
}
#video5{
    margin-left:80%;
    /* width: 75%;
    height: 75%; */
}