#cover {
  position: fixed;
  height: 100%;
  width: 100%; 
  top:0;
  left: 0;
  background: #000;
  z-index:9999
}

#cover-image {
 position: absolute;
 top: 47.5%;
 left: 47.5%;
 z-index: 100;
 height: 50px;
 width: 50px;
}

*{
  background-color: black;
  color: white;
  width: 100%;
}

/*Name and title*/
.name-box{
  float: left;
  width: 40%;
  margin-bottom: 10px;
  margin-left: 10px;
}
#name{
  font-family:"Crash";
  font-size: 62px ;
  letter-spacing: 5px;
  text-align: left;
  float: left;
}
#title{
  text-align: left;
  float: left;
  font-family: 'Conman Regular';
}

/*navbar formatting*/
.nav {
  float: right;
  margin-top: 1px;
  width: 40%;
  font-family: 'Conman Regular';
  font-size: 16px;
}
ul{
  list-style-type: none;
  overflow: hidden;
  margin-right: 0;
  padding: 0;
}
li{
float: right;
width: 160px;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 5px 5px;
  text-decoration: none;
  width: 140px;
}

li a:hover {
  color: rgb(156, 1, 161);
}

/*picture container*/
.container{
  margin-top: 1%;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 0px;
}

.column img {
  margin-top: 1px;
  vertical-align: middle;
  width: 100%;
}

.footer {
  font-family: 'ticketing';
  font-size: 10px;
}
.vectors {
  display: inline-block;
  vertical-align: middle;
}
#github{
  height: 50px;
  width: 50px;
  float: right;
  padding: 0%;
  margin-left: 10px;
}

/*Version2 gallery page */
.gallery{
  background-color: black;
  color: white;
  overflow: hidden;
  width   : 100%;
  height  : 100%; 
  margin  : 0;
  padding : 0;
}

  .view{
  margin-top: 10%;
  width: 8%;
  float: left;
  margin-left: 1%;
  font-size: 14px;
  font-family: 'Conman Regular';
  color: white;
  }
  #renderCanvas {
      margin-top: 1px;
      margin-left: 15%;
      width: 70%;
      height: 70%;
      touch-action: none;
      border: 20px double white;
  }
/* remove until authentication can be made*/

/* #email {
  height: 72px;
  width: 72px;
  float: right;
} */

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

canvas{
  float: left;
}
td{
text-align: center;
width: 300px;
height: 50px;
font-family: 'Conman Regular';
font-size: 24px;
}
input {
  background-color: white;
  width: 350px;
  color: black;
}
table{
  width: 60%;
  padding: 10px;
  margin: 10px;
}
textarea{
  background-color: white;
  color: black;
}
h1{
  margin-top: 50px;
  clear: both;
  text-align: center;
  font-family:"Ye Old Shire Outline";
  letter-spacing: 3px;
  font-size: 42px;
}